# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

bloombox-xyz-firebase-adminsdk-7te66-ec5b44ad86.json

private.key